@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

*{
    font-family: 'Stylish', sans-serif;
}

.dropdown-menu{
    text-align: center !important;
    width: 100% !important;
}

.dropdown-menu li a {
    font-size: 23px !important;
    margin: 10px;
}

.dropdown-toggle{
    font-size: 25px;
}

.img{
    width: 100px;
    height: 100px;
}

.container-fluid{
    min-height: 130px;
}

.navbar{
    margin-bottom: 0px !important;
}

h1{
    font-size: 36px;
    margin: 48px 0px !important;
}

p.introduction{
    font-size: 30px !important;
} 

.navbar-header{
    position: relative;
    height: 130px;
}

.maintitle{
    float: left;
    font-size: 50px;
    overflow: hidden;
    line-height: 130px;
}

footer{
    height: 100px;
    width: 100%;
    background-color: aliceblue;
}

.footer{
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    color: #333;
}

footer a:hover{
    text-decoration: none;
}

.footer:hover{
    color: #666;
}

.fa-youtube{
    color: red;
}

