@charset "utf-8";


*{
    font-family: 'Cafe24Ssurround';
    font-size: 23px;
    font-weight: bolder;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
}

.intro_bg{
    background-image:url(../resources/images/kimbaekho_images/mart01.jpg);
    width: 1280px;
    height: 700px;
}
    

.header{
    display: flex;
    width: 1280px;
    margin: auto;
    background: lightblue;
    height: 86px;
}

.searcharea{
    width: 300px;
    height: 40px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 24px;
}

.searcharea>form>input{
    border: none;
    width: 240px;
    height: 40px;
    background: rgb(157, 252, 255);
    color:rgb(178, 51, 51);
    padding-left: 10px;
}
.searcharea>form>span{
    width: 50px;
    color:rgb(121, 121, 121);
    font-weight: bold;
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: flex-start;
    line-height: 86px;
    width: 1000px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    line-break: auto;

}

.nav>li{
    margin-left: 72px;
    
}

.nav>li>a{
    color: #fff;
}

.amount{
    position: relative;
    top:-66px;
    display: flex;
    width:1280px;
    background: #fff;
    margin:auto;
    
}


.amount>li>div{
    text-align: top;
}

.amount>li>div:not(:last-child){
    border-right: 1px solid gray;
}



.main_text0{
    width: 100%;
    height: 600px;
    background: #f1f2f3;
    margin-top: -66px;
}

h1{
    font-size: 60px;
    text-align: center;
    margin-top: 110px;
    color: yellow;
}

h2{
    font-size: 30px;
    text-align: left;
    margin-top: 60px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-style: italic;
}
.text>li{
    color: #fff;
    border: #f1f2f3;
    margin-left: 42px;
    font-size: 55px;
}
    

.sign_up{
    margin: 60px 1150px;
    color: #fff;


}

@font-face {
font-family: 'Cafe24Ssurround';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
font-weight: normal;
font-style: normal;
};


.text img{
    position: absolute;
    margin-top: -170px;
    margin-left: 10px;
}

.copy {
    float: left;
    height: 100px;
    width: 500px;
    /* text-align: center; */
    /* font-size: 16px; */
    line-height: 100px;
    color: #ffffff;
}

.site img{
    height: 80px;
    width: 80px;
    display: block;
    float: left;
    padding: 10px;
    
}


#wrapper{
    display: contents;
    position: initial;
    width: 1000px;
    height: 300px;
    float: left;
    margin-bottom: 50px;
}

#wrapper img{
    width: 400px;
    height: 300px;
    margin-top: 50px;
}



.navbar-inverse .navbar-brand{
    font-size: 35px;
    color: #ffbb00;
}

.container-fluid{
    background-color: #5fa7ff;
}

.text{
    float: left;
}

.bodywrap{
    height: 500px;
    width: 900px;
    float: left;
    align-items: center;


    /* background: red; */
}

.imgslide{
    height: 400px;
    width: 800px;
    position: relative;
    overflow: hidden;
    float: right;
    margin-top: 50px;
    /* background: green; */
}

i{
    margin-top: 10px;
}

.navbar-brand{
    color: #ffbb00 !important;
} 

