body {
  font-family: sans-serif;
  background: url(../resources/images/kimmoonjeong/con2.jpg);
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
}

.login h2 {
  margin: 0 0 30px;
  color: #fff;
  text-align: center;
}

.login .user-box {
  position: relative;
}

.login .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
}

.login form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  margin-top: 40px;
}

.login a:hover {
  background: rgb(168, 166, 166);
  color: black;
  border-radius: 5px;
  font-style: bold;
}
