body {
  font-family: sans-serif;
  background: url(..//resources/moon_main.jpg);
}
.signup {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
}

legend {
  color: #fff;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 30px;
}
fieldset {
  padding: 20px 100px 60px 40px;
  border-radius: 30px;
  border: 3px solid #999;
}
.signup .signup-box {
  position: relative;
}

.signup .signup-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
}
.signup form {
  position: relative;
  display: inline-block;
  padding: 0px;
  color: #fff;
  font-size: 16px;
  margin-top: 40px;
}
.gender {
  margin-bottom: 30px;
}
.gender input {
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
}
.address {
  margin-top: 20px;
}

.sub {
  font-size: 16px;
  margin-top: 40px;
  padding: 10px 20px;
  background: none;
  color: #fff;
}
.sub:hover {
  background: rgb(168, 166, 166);
  color: black;
  border-radius: 5px;
  font-style: bold;
}
input {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  margin: 10px;
  color: #fff;
}
.ch {
  background: #999;
  border-radius: 10px;
  border-bottom: none !important;
  width: 118px;
  border: none;
}
.ch:hover {
  background: rgb(51, 46, 46);
  color: black;
  border-radius: 10px;
  font-style: bold;
}
b {
  margin: 10px;
  margin-top: 20px;
  font-weight: bold;
}
.birth {
  font-size: 15px;
  font-style: bold;
  color: black;
}
.month {
  background: none;
  color: #999;
  border-radius: 10px;
}
textarea {
  background: none;
  color: #fff;
  border-radius: 10px;
  border: 5px solid #999;
}
span {
  background-color: #fff;
  color: black;
  border-radius: 5px;
  margin: 10px;
  bottom: none !important;
}
