@charset "utf-8";
*{ margin: 0; padding: 0; font-family: 'Stylish', sans-serif;}
html, body{
    width: 1920px;
    height: 150vh;
}

li {list-style-type: none;}
a {text-decoration: none;}
.header {
    height: 150px;
    line-height: 150px;
    background-size: cover;
    background-position: 0 100px;
    background:rgba(135, 206, 235, 0.5);
}
.header h1 {
    position: absolute;
    font-size: 70px;
    left: 110px;
    top: -25px;

}
.main_menu {
    background: aliceblue;
    box-sizing: content-box;
    position: absolute;
    z-index: 10;
    width: 1920px;
    top: 98px;

}
.main_menu li {
    display: inline;
    padding-left: 70px;
}
.main_menu li a {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 5px;
}
.content_area {
    background: lightcyan;
    left: 500px;
    position: absolute;
    height: 150vh;
    width: 1200px;
    background-image: url(../resources/images/Nayoung_image/ctbg.png), url(../resources/images/Nayoung_image/saveme.png);
    background-repeat: no-repeat no-repeat;
    background-size: 845px 1100px, 1200px 150vh;
    background-position: 185px 231px, 0 0;
    border-radius: 20px;
    
}
    


.container {
    justify-content: space-around;
    background-image:url(../resources/images/Nayoung_image/sky2.jpg);
    background-size: cover; 
    height: 150vh;
    width: 1920px;
    position: relative;
    
}
.sub_list {
    background-image: url(../resources/images/Nayoung_image/sdcn.png);
    background-size: 310px 151vh;
    background-repeat: no-repeat;
    background-position: 0 -7px;
    min-width: 300px;
    position: absolute;
    height: 150vh;
    margin-left: 100px;
    border-radius: 20px;
    

}
.footer {
    height: 20vh;
    line-height: 15vh;
    min-width: 1920px;
    background-color: paleturquoise;
    position: absolute;
}


.content_area p {
    clear: both;
}
.scroll {
    position: absolute;
    top: 213px;
    left: 143px;
    width: 968px;
}

.text {
    position: absolute;
    top: 8px;
}
h3.self {
    display: inline;
}
legend {
    text-align: center;
    font-size: 60px;
}

fieldset {
    width: 550px;
    height: 762px;
    position: absolute;
    top: 417px;
    left: 273px;
    
    
}

input.blank{
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    font-size: 25px;

}
.under {
    width:125px
}
.join{
    position: absolute;
    left: 50px;
    font-size: 55px;
    font-weight: normal;
    top: 21px;
    margin: 20px;
}
.us {
    position: absolute;
    left: 50px;
    top: 100px;
    font-size: 30px;
    margin: 20px;
}
input.blank.half{
    width: 100px;
    font-size: 25px;
}
.information{
    font-size: 30px;
    padding-left: 60px;
}
select {
    width: 160px;
    height: 36px;
    font-size: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    border-bottom: 1px solid black;

}
.whoiam {
    position: absolute;
    top: 359px;
    font-size: 25px;
}
#birthday{
    width: 130px;
    height: 24px;
    font-size: 25px;
}
.bt {
    position: absolute;
    top: 275px;
    left: 291px;
    font-size: 45px;
    border: none;
    background: none;
    text-decoration: underline 1px;
    width: 150px;
}
.menu2 {
    width: 297px;
    height: 99px;
    line-height: 99px;
    text-align: center;
    /* border: 1px solid; */
    border-radius: 20px;
    font-size: 30px;
    margin: 3px;
    background-image:url(../resources/images/Nayoung_image/sidemenu-removebg-preview.png);
    background-size: 300px 120px;
    background-repeat: no-repeat;
    background-position: -5px -10px;
    position: relative;
    top: 25px;
}
.mm {
    margin: 0;
    font-size: 20px;
    color: black;
}
.ad_text{
    width: 150px;
    height: 20px;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    background: none;
    text-align: center;
    font-size: 25px;
}
.adsr{
    width: 120px;
    height: 25px;
    font-size: 20px;
    position: absolute;
    top: 236px;
    left: 222px;
}
a.sb{
    color: black;
}

.ad_blank {
    width: 215px;
}

.bunny {
    margin-left: 20px;
}