@charset "uft-8";

* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: 'Stylish', sans-serif;
    color: #333;
}

body{
    width: 900px;
    height: 1150px;
    font-size: 13px;
    /* background-image:url(../image/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    /* border: 1px solid red; */
}

.bodywrap{
    clear: both;
    height: 900px;
    position: relative;
    /* background-color: blue;
     */
    /* background-image: url(../image/sky.jpg); */
    background-size: 900px 810px;
}

.all_wrap{
    width: 900px;
    height: 1150px;
    background-image: url(../resources/image/sky.jpg);
    background-repeat: no-repeat;
    background-size: 900px 1100px;
}

a{
    text-decoration: none;
    display: block;
}

header{
    float: left;
    height: 170px;
    width: 900px;
    
    
}

.top{
    float: left;
    height: 100px;
    width: 900px;
    /* background-color: red; */
}

.first{
    height: 95px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 880px;
    border: 1px salmon lightpink;
    background-image: url(../resources/image/header.png);
    background-size: 880px 95px;
    position: relative;
    border-radius: 15px;
}

.logo{
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 25px;
    /* background-color: blue; */
}

.logo img{
    float: left;
    height: 80px;
    width: 80px;
}

#name{
    font-size: 60px;
    height: 100px;
    line-height: 100px;
    margin-left: 5px;
}

.menu_bar{
    /* float: right; */
    height: 50px;
    width: 900px;
    /* background-color: rgba(219, 161, 161, 0.103); */
    z-index: 10;
}

.menu{
    /* float: right; */

    height: 50px;
    line-height: 50px;
    width: 880px;
    text-align: center;
    z-index: 10;
    background-image: url(../resources/image/new/61CPyCIqp+L._AC_SX450_.jpg);
    border-radius: 15px;
    background-size: 880px 50px;

}

ul.navi {
    /* float: right; */

    width: 900px;
    z-index: 10;
}

ul.navi > li {
    float: left;
    height: 50px;
    text-align: center;
    width: 135px;
    margin-right: 45px;
    margin-left: 45px;
    font-size: 20px;
    z-index: 10;
    
}


ul.navi > li > a{
    width: 125px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 5px;
    z-index: 10;
    background-image: url(../resources/image/uppermenu.png);
    background-repeat: no-repeat;
    background-size: 125px 40px;
    background-position: 5px 5px;
    
}

.submenu{
    height: 160px;
    width: 125px;
    color: #fff;
    /* background-color: aqua;- */
    display: none;
    z-index: 20;
    position: relative;
    border-radius: 3px;
}

.submenu a{
    color: rgba(40, 40, 40, 0.5);
    z-index: 10;
    height: 52px;
    width: 124px;
    margin: 1.5px;
    border: 1px solid black;
    background-image: url(../resources/image/sub.png);
    background-repeat: no-repeat;
    background-size: 128px 52px;
    /* background-color: aqua; */
    font-size: 15px;
}

.submenu{
    
}

#name{
    float: left;
    font-size: 40px;
    text-align: center;
    height: 100px;
    line-height: 100px;
    
}

.bodywrap{
    height: 810px;
    width: 900px;
    z-index: 0;
    /* background-color: red; */
}

.left{
    float: left;
    height: 800px;
    width: 200px;
    padding-top: 10px;
    background-image: 
    z-index: 0;
    position: relative;
}

.leftmenu{
    width: 175px;
    height: 790px;
    background-image: url(../resources/image/leftmenu.png);
    background-size: 175px 790px;
    text-align: center;
    position: relative;
    /* padding-bottom: 50px; */
    /* z-index: 3; */
    z-index: 0;
    position: relative;
    border-radius: 15px;
}

.leftmenu li{
    /* position: relative; */
}


.leftmenu h2 {
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 40px;
    height: 50px;
    line-height: 50px;
    z-index: -1;
   
}

.leftmenu h3{
    background-image: url(../resources/image/leftmenu_click.png);
    background-repeat: no-repeat;
    background-size: 175px 75px;
    background-position: -5px -2.5px;
    z-index: -1;
}

.in{
    text-decoration: none;
    background-image: none;
    font-size: 16px;

}

in::before{
    height: 10px;
    /* background-color: yellow; */
}

.left_submenu li > a:{
    font-size: 15px;
    height: 75px;
    line-height: 15px;
    /* background-image: url(../resources/image/); */
    position: relative;
    background-repeat: no-repeat;
    background-size: 175px 90px;
    z-index: -1;
    cursor: pointer;
    
}


.left_submenu h3{
    margin: 25px;
    font-size: 30px;
    height: 75px;
    line-height: 75px;
    margin: 5px;
    color: #333;
}

.left_submenu h3 + ul {
    /* background-color: green; */
}

.left_submenu .account, .system, .payment, .report{
    display: none;
    /* background-color: pink; */
    margin-bottom: 5px;
    padding: 7.5px;
    /* background-image: url(../image/shutterstock_19356940001-removebg-preview.png), url(../image/shutterstock_19356940002-removebg-preview.png);
    background-repeat: no-repeat no-repeat;
    background-size: 350px 100px, 350px 100px;
    background-position: 10px 10px, 10px 10px;
    height: 180px;
    padding-top: 60px; */
    
}



.content{
    float: right;
    margin-top: 10px ;
    height: 790px;
    width: 690px;
    margin-right: 10px;
    
    background-image: url(../resources/image/contentbg.png);
    background-size: 690px 790px ;
    background-repeat: no-repeat;
    border-radius: 15px;
    
}



.main_page{
    padding: 5px
}

.main_page h1{
    text-align: center;
    height: 75px;
    line-height: 75px;
    margin-top: 25px;
    font-size: 60px;
    font-weight: bold;
}

.main_page h4{
    font-size: 30px;
    font-weight: bold;
}

.content_faq {
    height: 600px;
    margin: 10px;
    margin-left: 75px;
    margin-right: 75px;
    padding: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
    /* background-color: green; */
}

.content_faq::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}


.main_page .info li a{
    padding: 10px;
    /* background-color: blue; */
    font-size: 20px;
    font-weight: bold;
}

.main_page .info li a:hover{
    color: rgba(233, 112, 64, 0.466);
}

.question:hover{
    color: rgba(233, 112, 64, 0.466);
}

.hide{
    font-size: 15px;
    padding: 10px;
    text-align: justify;
    background-color: rgba(255, 182, 193, 0.466);
    display: none;

}


footer{
    clear: both;
    height: 150px;
    width: 900px;
    line-height: 150px;
    background-color: rgba(248, 207, 250, 1);
}

.copy{
    float: left;
    height: 150px;
    width: 450px;
    text-align: center;
    font-size: 15px;
    line-height: 150px;
    color: #000;
}

.sns{
    float: right;
    height: 150px;
    width: 450px;
}

.sns ul{
    text-align: center;
}
.sns ul li{
    display: inline-block;
}

.sns img{
    height: 50px;
    line-height: 50px;
    width: 50px;
    padding: 5px;
    position: relative;
    top: 25px;
    border-radius: 10px;
}

.sns img:hover{
    opacity: 0.5;
}